
<div class="_container">
    <div class="">
        <div class="col">
            <div class="container" id="main-container">
                <div class="img-container">
                    <img src="/assets/3.png" alt="">
                </div>
                <div class="row-2">
                    <div class="text">
                        <h4>Ramen</h4>
                        <p>Ramen is the best noodles in japan.</p>
                        <button class="btn btn-warning" id="order-btn">
                            order now
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="_container" id="main-container"></div>
        </div>
    </div>
</div>
